<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <title>Buying Guide</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../static/css/style2.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div id="slidebar">
        <script>
        function toggleSlidebar(){
          document.getElementById("slidebar").classList.toggle("active");
        }
    </script>
        <div class="toggle-btn" onclick="toggleSlidebar()" >
          <span style="background-color:black;"></span>
          <span style="background-color:black;"></span>
          <span style="background-color:black;"></span>
        </div>
        <ul>
          <li><img src="../static/images/icon.png" style="height:50px;width:50px;"><label> {{ u }}
          </label></li>
          <li><a href="/trylogout/" style="color:black">Home</li></a>
          <li><a href="" style="color:black">About</li></a>
          <li><a href="#" style="color:black">Contact</li></a>
          <li><a href="#" style="color:black">Dashboard</li></a>
         
          <li><a href="/logout/" style="color:black">Logout</li></a>
        </ul>
      </div>
    

<div class="jumbotron text-center" style="background-image: url(../static/images/0.jpeg)">

  <h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">GEM GUIDE</h1>
  <p>Your online guide to buy right stone</p> 
</div>
  
<div class="container" style="background:linear-gradient(white,#FFFACD);">
  <div class="row">
    <div class="col-sm-4">
      <h3 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Which Gemstone should I wear</h3>
      
      <p style="text-align:justify">Each planet has its unique
         corresponding astrological gemstone which radiates the
          same cosmic color energies as the planet itself. The
           gemstones work by reflection of positive rays or
            absorption of negative rays.

            Wearing the appropriate gemstone can increase the 
            corresponding planet’s positive effect on it wearer
             as the gem filters and allows only the positive
              vibrations to penetrate in the wearer’s body. </p>
      <p style="text-align:justify">Buying a gemstone can be an
         exhilarating experience given their mystical nature 
         combined with extraordinary beauty and diverse colours.
          While the Internet gives one a plethora of options when
           it comes to buying gemstones or reading about them, not
            all sources can be relied upon or are informative enough.

          </p>
     
    </div>
    <div class="col-sm-4">
      <h3 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">How to select the Gemstone</h3>
      <p style="text-align:justify">Since ancient times, gemstones have been 
        worn for astrological and jewellery purposes. The selection of a 
        jewellery gemstone depends largely on its aesthetic value and durability, 
        however, the criteria for selecting an astrological gemstone is more complex.
         It involves astrological calculations and requires an in-depth analysis of
          the individual’s horoscope (Kundli) by a learned astrologer. Since gemstones 
          used for astrological purposes can have an effect on the career, finance,
           profession and personal life , we recommend consulting an expert
            astrologer prior to purchasing one.</p>
      
    </div>
    <div class="col-sm-4">
      <h3 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">How Should I wear a Gemstone</h3>        
      <p style="text-align:justify">Gemstones can be best 
        worn in the form of a jewellery. The selection of a 
        metal and jewelry setting that compliment the gem’s 
        physical and astrological properties is a crucial step
         to ensure maximum positive results and maintain gem’s
          quality for a longer time. Some vedic norms are also
           involved in the selection of a right metal and jewellery 
           design for an astrological gemstone . 

           </p>
      <p style="text-align:justify"> As per the scared vedas, 
        each planet has been assigned a particular metal in which
         its gemstone gives fruitful results. Another important aspect 
         is to ensure that the gemstone is touching the wearer’s skin 
         properly after being studded in a jewelry piece. Those who believe
          in Pooja rituals, must follow the right vedic procedure to wear a
           gemstone (Ratna Dharan Karne Ki Vidhi ) to attain maximum benefits
            in their life.</p>
    </div>
  </div>
</div>
<div class="container"  style="background:linear-gradient(white,#FFFACD);">
        
  <center>
          <img src="{% static '/images/st.jpg' %}" height=250px width=500px >
        </center>
          
      </div>
<div class="container"  style="background:linear-gradient(white,#FFFACD);">
        <div class="row">
          <h3 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;text-align: center;">
            Where Should I Purchase From?</h3>
            <p style="text-align:justify">There are multiple
                 considerations that one needs to factor in 
                 before purchasing a gemstone. Being aware of
                  these factors that affect gemstone quality and
                   price help in avoiding the chances of buying 
                   unauthentic gemstones at unfair prices. Before
                    selecting a gemstone, it is imperative to know
                     how a minor variation in quality, size or origin 
                     can bring a huge difference in the gemstone price. 

                    
      
                </p>
            <p style="text-align:justify">   Color, clarity, cut 
                and carat weight are some conventional factors considered
                 while purchasing a gemstone. However, from the astrological point of
                  view, it is equally important to ensure that the gemstone is 100% 
                  natural and free from any sort of treatment (heating, chemical treatment,
                   dying and resin filling etc.). According to the experts, selecting a 
                   gemstone from a reputed geographical origin can be a good way to ensure
                    quality. But it is not mandatory if one can manage
                     to find good quality gemstones even from a less popular
                      origin.we assure you the best quality stone.</p>
         <br>
         <br>
         <br>
        
          
        </div>
      </div>

</body>
</html>
