<html>
    <head>
        {% load static %}
        <title>Emerald</title>
        <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
    <body>

        <div class="jumbotron text-center" style="background-image: url(../static/images/emer.jpg);">
  
            <h1 style="color:black;padding-right:450px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Emerald</h1>
          
          </div>
          <div class="container"  style="background:linear-gradient(white,#FFFACD);">
                  <div class="row">
                    
                      
                      <h3 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;text-align: center;"> </h3>
                      <p style="text-align:justify">Emerald is a gemstone 
                        and a variety of the mineral beryl (Be3Al2(SiO3)6)
                         colored green by trace amounts of chromium and sometimes
                          vanadium. Beryl has a hardness of 7.5–8 on the Mohs scale. 
                        Most emeralds are highly included, so their toughness (resistance to breakage)
                         is classified as generally poor. Emeralds, like
                          all colored gemstones, are graded using four basic 
                          parameters–the four Cs of connoisseurship: color, clarity, cut 
                          and carat weight. Normally, in the grading of colored gemstones,
                           color is by far the most important criterion. However, in the 
                           grading of emeralds, 
                         clarity is considered a close second.
          
                              
                
                         </p>
                   
                  
                    
                  </div>
                </div>
          
          <div class="container" style="background:linear-gradient(white,#FFFACD);">
            <div class="row">
              <div class="col-sm-4">
                <h3 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">How Are Gemstones Formed?</h3>
                
                <p style="text-align:justify">Even though the vast majority of gemstones are created below the surface of the earth, there are a number of different ways that the individual stones can be created. A great number of these precious stones are created when the minerals react with water that is found just below the surface of the earth and the minerals then dissolve. This process allows the minerals to form with gemstones like opals, agates and amethysts forming when the solution cools or evaporates.
          
                      
          
                       </p>
                <p style="text-align:justify">Gems like malachite, azurite or turquoise are 
                  formed when water blends with rocks that are rich in copper. There is a 
                  strong history attached to turquoise gems with the ancient Egyptians regarding 
                  them to be an extremely precious gem. This means that turquoise gems have been 
                  around for 4,000 years or even longer!
          
                    </p>
               
              </div>
              <div class="col-sm-4">
                <img src="{% static '/images/stone.jpg' %}" height="300px",width="300px" style="margin-top: 60px;">
                
                
              </div>
              <div class="col-sm-4">
                <h3 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
                  Value of Gemstones</h3>        
                <p style="text-align:justify">One of the most important things for people when considering 
                  gemstones is the value and price for them
                   but like in many industries, the laws of supply and demand are very much in place. 
                   This means that rare gems will carry a higher price tag.
          
                      For instance, a garnet is extremely stylish and attractive but it is not 
                      that rare, which means that its price tag is not too high. If you compared a 
                      garnet to a ruby of a similar size and condition, the ruby would always hold 
                      a higher price, simply because of the fact that it is a rare stone.
                      
                       
          
                     </p>
                <p style="text-align:justify"> It is often difficult to place a true value on 
                  any particular gemstone because there is no uniform classification or measurement
                   system in place. This is where gemstones differ from diamonds, which have been
                    subject to a uniform measurement system since the 1950s. Traditionally, gemstones
                     have been examined and evaluated by eye. When examining a gemstone, the four most
                      important factors can be summed up in the four C's, which are; colour, clarity, 
                      cut and carat.</p>
              </div>
            </div>
          </div>
          <div class="container"  style="background:linear-gradient(white,#FFFACD);">
                  <div class="row">
                    
                      
                      <h3 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;text-align: center;">What is the history of Gemstone</h3> </h3>
                      <p style="text-align:justify">Gemstones are basically mineral crystals which have dazzling brilliance and unique shape. They were found and unearthed many centuries ago and ever since that time, they have maintained their position in the hearts of human beings. It is believed that gemstones possess healing powers. In ancient times, Kings and Queens used to wear them as talismans and amulets that helped in protecting them from ghosts and evil. During those times, gemstones were used only by the rich and royal class.
                              There are many types of gemstones available today. They are characterized as precious or semiprecious, organic or inorganic and natural or synthetic. Diamond, Ruby, Sapphire and Emerald are classified as Precious stones and all other gemstones are called semi precious stones. This classification was made during ancient times based on the rarity and quality of the gemstones.
          
          
          
                              
          
                              
                
                          </p>
                      <br>
                   
                  <br>
                    
                  </div>
                </div>
          
          </body>
          </html>
          