{% block head %}
<html>
<head>
<title>footer</title>
{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" >
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

</head>
    <body>
 <footer class="footer">
<div class="container bottom_border">
        <div class="row">
        <div class=" col-sm-4 col-md col-sm-4  col-12 col">
        <h5 class="headin5_amrc col_white_amrc pt2">Our Store</h5>
    <p class="mb10"><b>331 , lalaniyon ka chowk , Johari bazar , Jaipur</b></p>
        <p><i class="fa fa-location-arrow"> Rajasthan,India</i>  </p>
        <p><i class="fa fa-phone"></i>  +91-9529022334  </p>
        <p><i class="fa fa fa-envelope"></i> pallaviag28@gmail.com  </p>
        
        
        </div>
        
        
        <div class=" col-sm-4 col-md  col-6 col">
        <h5 class="headin5_amrc col_white_amrc pt2">Legal</h5>
      
        <ul class="footer_ul_amrc">
        <li><a href="#">Terms and Conditions</a></li>
        <li><a href="#">Terms of use</a></li>
        <li><a href="#">Privacy Policy</a></li>
        
        </ul>
       
        </div>
        
        
        
        
        
        <div class=" col-sm-4 col-md  col-12 col">
        <h5 class="headin5_amrc col_white_amrc pt2">Working Hours</h5>
        <!--headin5_amrc ends here-->
        
        <ul class="footer_ul2_amrc">
        <li><i class="fab fa-twitter fleft padding-right"></i><p>Sales: Mon-Sun 10:00am - 7:30pm IST</p></li>
        <li><i class="fab fa-twitter fleft padding-right"></i><p>Support: Mon-Sat 9:30am - 6:30pm IST

        </p></li>
       
        </ul>
        
        </div>
        </div>
        </div>
        
        
        <div class="container">
        <ul class="foote_bottom_ul_amrc">
        <li><a href="">Home</a></li>
       
        <li><a href="#">Services</a></li>
         <li><a href="#">Blog</a></li>
        <li><a href="#">Contact</a></li>
        </ul>
       
        <p class="text-center">Copyright @2019 | Designed With by <a href="#">Agarwal Gems</a></p>
        
        <ul class="social_footer_ul">
        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
       
        
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
       
        </div>
        
        </footer>
        
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>
{% endblock %}