<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <title>More about</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
	<link rel="stylesheet" type="text/css" href="../static/css/style2.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div id="slidebar">
        <script>
        function toggleSlidebar(){
          document.getElementById("slidebar").classList.toggle("active");
        }
    </script>
        <div class="toggle-btn" onclick="toggleSlidebar()">
          <span style="background-color:black;"></span>
          <span style="background-color:black;"></span>
          <span style="background-color:black;"></span>
        </div>
        <ul>
            <li><img src="../static/images/icon.png" style="height:50px;width:50px;"><label>{{ u }}</label></li>
          <li><a href="/trylogout/" style="color:black">Home</li></a>
          <li><a href="#" style="color:black">About</li></a>
          <li><a href="#"style="color:black">Contact</li></a>
          <li><a href="#"style="color:black">Dashboard</li></a>
         
          <li><a href="/logout/" style="color:black">Logout</li></a>
        </ul>
      </div>
    

<div class="jumbotron text-center" style="background-image: url(../static/images/0.jpeg);">
  
  <h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">About Gemstones</h1>

</div>
<div class="container"  style="background:linear-gradient(white,#FFFACD);">
        <div class="row">
          
            
            <h3 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;text-align: center;">What are Gemstones </h3>
            <p style="text-align:justify">A gemstone is the name given to a piece of 
                mineral (or other rock or organic material) that after it has been cut 
                and polished has been made into a piece of jewellery or another accessory.
                 Although gemstones are commonly made from minerals, material such as jet 
                 or amber or rocks like lapis lazuli can also be utilised in the creation of
                  gemstones. The majority of gemstones will be hard to the touch but depending 
                  on the piece of jewellery that is being created, some soft minerals are also
                   utilised. Take a look at Moh's Scale of Hardness to find out more about this.

                    

                    
      
                </p>
            <p style="text-align:justify">  Some other names for a gemstone include:<br>
                    
                    1. Gem / Fine Gem<br>
                    2. Precious stone / Semi-precious stone<br>
                    3. Jewel
                <br></p>
         
        
          
        </div>
      </div>

<div class="container" style="background:linear-gradient(white,#FFFACD);">
  <div class="row">
    <div class="col-sm-4">
      <h3 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">How Are Gemstones Formed?</h3>
      
      <p style="text-align:justify">Even though the vast majority of gemstones are created below the surface of the earth, there are a number of different ways that the individual stones can be created. A great number of these precious stones are created when the minerals react with water that is found just below the surface of the earth and the minerals then dissolve. This process allows the minerals to form with gemstones like opals, agates and amethysts forming when the solution cools or evaporates.

            

             </p>
      <p style="text-align:justify">Gems like malachite, azurite or turquoise are 
        formed when water blends with rocks that are rich in copper. There is a 
        strong history attached to turquoise gems with the ancient Egyptians regarding 
        them to be an extremely precious gem. This means that turquoise gems have been 
        around for 4,000 years or even longer!

          </p>
     
    </div>
    <div class="col-sm-4">
      <img src="{% static '/images/stone.jpg' %}" height="300px",width="300px" style="margin-top: 60px;">
      
      
    </div>
    <div class="col-sm-4">
      <h3 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
        Value of Gemstones</h3>        
      <p style="text-align:justify">One of the most important things for people when considering 
        gemstones is the value and price for them
         but like in many industries, the laws of supply and demand are very much in place. 
         This means that rare gems will carry a higher price tag.

            For instance, a garnet is extremely stylish and attractive but it is not 
            that rare, which means that its price tag is not too high. If you compared a 
            garnet to a ruby of a similar size and condition, the ruby would always hold 
            a higher price, simply because of the fact that it is a rare stone.
            
             

           </p>
      <p style="text-align:justify"> It is often difficult to place a true value on 
        any particular gemstone because there is no uniform classification or measurement
         system in place. This is where gemstones differ from diamonds, which have been
          subject to a uniform measurement system since the 1950s. Traditionally, gemstones
           have been examined and evaluated by eye. When examining a gemstone, the four most
            important factors can be summed up in the four C's, which are; colour, clarity, 
            cut and carat.</p>
    </div>
  </div>
</div>
<div class="container"  style="background:linear-gradient(white,#FFFACD);">
        <div class="row">
          
            
            <h3 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;text-align: center;">What is the history of Gemstone</h3> </h3>
            <p style="text-align:justify">Gemstones are basically mineral crystals which have dazzling brilliance and unique shape. They were found and unearthed many centuries ago and ever since that time, they have maintained their position in the hearts of human beings. It is believed that gemstones possess healing powers. In ancient times, Kings and Queens used to wear them as talismans and amulets that helped in protecting them from ghosts and evil. During those times, gemstones were used only by the rich and royal class.
                    There are many types of gemstones available today. They are characterized as precious or semiprecious, organic or inorganic and natural or synthetic. Diamond, Ruby, Sapphire and Emerald are classified as Precious stones and all other gemstones are called semi precious stones. This classification was made during ancient times based on the rarity and quality of the gemstones.



                    

                    
      
                </p>
            <br>
         
        <br>
          
        </div>
      </div>

</body>
</html>
